@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 139;
  --background-end-rgb: 0, 0, 0;
}

.font-press-start-2p {
  font-family: var(--font-press-start-2p);
}

.bg-gradient-custom {
  background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 0.7), rgba(var(--background-end-rgb), 0.7));
}

.bg-gradient-custom-dark {
  background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 0.7), rgba(var(--background-end-rgb), 0.7));
}